<ion-view view-title="Stocks">
	<div class="tabs tabs-top" style="top: 0px;">
		<a class="tab-item" href="#/app/stocks">Stocks</a>
		<a class="tab-item tab-item-active" href="#/app/crypto">Crypto</a>
	</div>
	<ion-content class="has-tabs-top">

		<ion-list class="stocks">

			<ion-item class="item-stock" ng-repeat="coin in coins" href="#/app/cryptoDetails/BTC">
				<div class="row">
					<div class="col-10">
						<span
						class="comunity-rating"
						ng-if="ratings[coin.symbol].avg"
						ng-class="{
							'rate_1': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 1,
							'rate_2': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 2,
							'rate_3': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 3,
							'rate_4': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 4,
							'rate_5': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 4.6,
						}">
							{{ratings[coin.symbol].avg / ratings[coin.symbol].qta | number : 1}}
						</span>
						<span class="comunity-rating rate_0" ng-if="!ratings[coin.symbol].avg">-</span>
					</div>
					<div class="col col-70">
						<h2 class="company-name">{{coin.symbol}} <br><small>{{coin.name | limitTo : 30}}</small></h2>
					</div>
					<div class="col col-20">
						<span class="current-price">{{coin.quotes.USD.price | currency}}</span>
						<br>
						<span class="price-change" ng-class="{'balanced' : coin.quotes.USD.percent_change_24h > 0, 'assertive' : coin.quotes.USD.percent_change_24h < 0}">
							<i class="ion-arrow-up-b" ng-if="coin.quotes.USD.percent_change_24h > 0"></i>
							<i class="ion-arrow-down-b" ng-if="coin.quotes.USD.percent_change_24h < 0"></i>
							{{coin.quotes.USD.percent_change_24h | number : 2}}%
						</span>
					</div>
				</div>
			</ion-item>
			<button class="button button-block button-clear button-light" ng-click="showMore()">Show more...</button>
		</ion-list>

		<script id="cryproDetails.html" type="text/ng-template">
			<ion-modal-view class="modal-transparent" id="cryproDetails">
				<ion-header-bar class="bar-dark">
					<h1 class="title">Coin Details</h1>
					<div class="buttons">
						<button class="button button-icon icon" ng-class="{'ion-ios-heart': fav, 'ion-ios-heart-outline': !fav}" ng-click="add()"></button>
						<button class="button button-positive" ng-click="modal.hide()">Close</button>
					</div>
				</ion-header-bar>
				<ion-content>
					<div class="list card">
						<div class="item item-text-wrap row">
							<div class="col col-60">
								<h2><b>{{coin.name}}</b></h2>
								<p>Rank: {{coin.rank}}</p>
								<p><b>BTC price</b>: {{coin.price_btc | number : 5}}</p>
							</div>
							<div class="col col-40">
								<h2> {{coin.price_usd | currency}} </h2>
								<h3>
									<span class="price-change" ng-class="{'balanced' : coin.percent_change_24h > 0, 'assertive' : coin.percent_change_24h < 0}">
										<i class="ion-arrow-up-b" ng-if="coin.percent_change_24h > 0"></i>
										<i class="ion-arrow-down-b" ng-if="coin.percent_change_24h < 0"></i>
										{{coin.percent_change_24h | number : 2}}%
									</span>
								</h3>
								<h3>Rating: {{ratingScore / ratingsArray.length | number : 1}}</h3>
								<!-- <h3>{{ratingScore}} - {{ratingsArray.length}}</h3> -->
							</div>
						</div>
						<div class="item item-body">
							<b>Changes</b>
							<div class="row">
								<div class="col">
									<ion-list>
										<ion-item>
											<h4>1H</h4>
											<span class="price-change" ng-class="{'balanced' : coin.percent_change_1h > 0, 'assertive' : coin.percent_change_1h < 0}">
												<i class="ion-arrow-up-b" ng-if="coin.percent_change_1h > 0"></i>
												<i class="ion-arrow-down-b" ng-if="coin.percent_change_1h < 0"></i>
												{{coin.percent_change_1h | number : 2}}%
											</span>
										</ion-item>
									</ion-list>
								</div>
								<div class="col">
									<ion-list>
										<ion-item>
											<h4>24H</h4>
											<span class="price-change" ng-class="{'balanced' : coin.percent_change_1h > 0, 'assertive' : coin.percent_change_1h < 0}">
												<i class="ion-arrow-up-b" ng-if="coin.percent_change_1h > 0"></i>
												<i class="ion-arrow-down-b" ng-if="coin.percent_change_1h < 0"></i>
												{{coin.percent_change_24h | number : 2}}%
											</span>
										</ion-item>
									</ion-list>
								</div>
								<div class="col">
									<ion-list>
										<ion-item>
											<h4>7 days</h4>
											<span class="price-change" ng-class="{'balanced' : coin.percent_change_7d > 0, 'assertive' : coin.percent_change_7d < 0}">
												<i class="ion-arrow-up-b" ng-if="coin.percent_change_7d > 0"></i>
												<i class="ion-arrow-down-b" ng-if="coin.percent_change_7d < 0"></i>
												{{coin.percent_change_7d | number : 2}}%
											</span>
										</ion-item>
									</ion-list>
								</div>
							</div>
							
							<hr>
							<div class="row">
								<div class="col col-50">
									<ion-list>
										<ion-item>
											<h4>Last Updated</h4>
											<span>{{coin.last_updated * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
										</ion-item>
									</ion-list>
								</div>
								<div class="col col-50">
									<ion-list>
										<ion-item>
											<h4>Market cap USD</h4>
											<span>{{coin.market_cap_usd | currency}}</span>
										</ion-item>
									</ion-list>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<ion-list>
										<ion-item>
											<h4>Total Supply</h4>
											<span>{{coin.total_supply | number : 2}}</span>
										</ion-item>
									</ion-list>
								</div>
								<div class="col">
									<ion-list>
										<ion-item>
											<h4>Max Supply</h4>
											<span>{{coin.max_supply | number : 2}}</span>
										</ion-item>
									</ion-list>
								</div>
							</div>
						</div>
						<div class="item inside-tabs row" ng-init="stocksTabs = 'rating'">
							<div class="col">
								<input type="radio" id="stocksTabs-comments" name="stocksTabs" ng-model="stocksTabs" value="comments">
								<label for="stocksTabs-comments">Comments</label>
							</div>
							<div class="col">
								<input type="radio" id="stocksTabs-rating" name="stocksTabs" ng-model="stocksTabs" value="rating">
								<label for="stocksTabs-rating">Rate</label>
							</div>
							<div class="col">
								<input type="radio" id="stocksTabs-company" name="stocksTabs" ng-model="stocksTabs" value="company">
								<label for="stocksTabs-company" class="active">Company</label>
							</div>
							<div class="col">
								<input type="radio" id="stocksTabs-financial" name="stocksTabs" ng-model="stocksTabs" value="financial">
								<label for="stocksTabs-financial" class="">Financial</label>
							</div>
							<div class="col">
								<input type="radio" id="stocksTabs-charts" name="stocksTabs" ng-model="stocksTabs" value="charts">
								<label for="stocksTabs-charts" class="">Charts</label>
							</div>
						</div>

						<div class="item item-text-wrap inside-tab-content" id="stock-comments" ng-if="stocksTabs == 'comments'">
							<div class="comments-container">
								<p ng-repeat="comment in comments">{{comment.user}}: {{comment.content}}</p>
							</div>
							<div class="comments-write">
								<!-- 
								<button class="button button-icon icon ion-paper-airplane" ng-click="sendComment()"></button> -->
								<div class="item item-input-inset">
									<label class="item-input-wrapper">
										<!-- <input type="text" placeholder="Email"> -->
										<textarea rows="2" ng-model="data.newComment"></textarea>
									</label>
									<button class="button button-small" ng-click="sendComment()">
										Submit
									</button>
								</div>
							</div>
						</div>

						<div class="item item-text-wrap inside-tab-content" id="stock-rating" ng-if="stocksTabs == 'rating'">
							<div class="row">
								<div class="col">
									<ul class="range-labels">
										<li>1</li>
										<li>2</li>
										<li>3</li>
										<li>4</li>
										<li>5</li>
									</ul>
									<div class="range">
										<input type="range" ng-model="rating.stars" min="1" max="5" step="1">
									</div>
									<div class="ratingStars">
										<h3>{{ratingText[rating.stars-1]}}</h3>
									</div>
								</div>
								<div class="col">
									<h2>Reason for rating</h2>
									<textarea style="width: 100%" ng-model="rating.comment"></textarea>
									<button class="button button-balanced button-clear button-icon icon ion-checkmark-circled" ng-click="rate()"></button>
								</div>
							</div>
						</div>

						<div class="item item-text-wrap inside-tab-content" id="stock-company" ng-if="stocksTabs == 'company'">
							<img ng-src="{{stock.logo}}" alt="{{stock.company.companyName}} Logo">
							{{stock.company.description}} <br><br>
							<p>{{stock.company.sector}} - {{stock.company.industry}}</p>
							<p>
								<a href="#">{{stock.company.website}}</a>
							</p>
						</div>

						<div class="item item-text-wrap inside-tab-content" id="stock-financials" ng-if="stocksTabs == 'financial'">
							<h4>Report Date: {{stock.financials[0].reportDate}}</h4>
							<div class="row">
								<div class="col col-10">
									<i class="ion-android-radio-button-on positive"></i> <br><br>
									<i class="ion-android-radio-button-off"></i> <br><br>
									<i class="ion-android-radio-button-off"></i> <br><br>
									<i class="ion-android-radio-button-off"></i> <br><br>
								</div>
								<div class="col">
									<ion-list>
										<ion-item>
											<h5>Cash Change</h5>
											<p>{{stock.financials[0].cashChange | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Cost of Revenue</h5>
											<p>{{stock.financials[0].costOfRevenue | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Current Cash</h5>
											<p>{{stock.financials[0].currentCash | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Gross Profit</h5>
											<p>{{stock.financials[0].grossProfit | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Op. Expenses</h5>
											<p>{{stock.financials[0].operatingExpense | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Op. Income</h5>
											<p>{{stock.financials[0].operatingIncome | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Research & Dev</h5>
											<p>{{stock.financials[0].researchAndDevelopment | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Total Assets</h5>
											<p>{{stock.financials[0].totalAssets | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Total Debt</h5>
											<p>{{stock.financials[0].totalDebt | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Total Revenue</h5>
											<p>{{stock.financials[0].totalRevenue | currency}}</p>
										</ion-item>
									</ion-list>
								</div>
								<div class="col">
									<ion-list>
										<ion-item>
											<h5>Cash Flow</h5>
											<p>{{stock.financials[0].cashFlow | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Current Assets</h5>
											<p>{{stock.financials[0].currentAssets | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Current Debt</h5>
											<p>{{stock.financials[0].currentDebt | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Net Income</h5>
											<p>{{stock.financials[0].netIncome | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Op. Gain Losses</h5>
											<p>{{stock.financials[0].OperatingGainLosses | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Op. Revenue</h5>
											<p>{{stock.financials[0].operatingRevenue | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Shareholder Equity</h5>
											<p>{{stock.financials[0].shareholderEquity | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Current</h5>
											<p>{{stock.financials[0].currentCash | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Total Cash</h5>
											<p>{{stock.financials[0].totalCash | currency}}</p>
										</ion-item>
										<ion-item>
											<h5>Total Liabilities</h5>
											<p>{{stock.financials[0].totalLiabilities | currency}}</p>
										</ion-item>
									</ion-list>
								</div>
							</div>
						</div>

						<div class="item item-text-wrap inside-tab-content" id="stock-charts" ng-if="stocksTabs == 'charts'">
							<canvas id="line" class="chart chart-line" chart-data="points" chart-labels="labels" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick"></canvas>
						</div>

					</div>
				</ion-content>
			</ion-modal-view>
		</script>

	</ion-content>
</ion-view>