<ion-view view-title="Stocks">
	<div class="tabs tabs-top" style="top: 0px;">
		<a class="tab-item" href="#/app/stocks">Stocks</a>
		<a class="tab-item tab-item-active" href="#/app/crypto">Crypto</a>
	</div>
	<ion-content class="has-tabs-top">

		<ion-list class="stocks">

			<ion-item class="item-stock" ng-repeat="coin in coins" href="#/app/cryptoDetails/{{coin.id}}">
				<div class="row">
					<div class="col-10">
						<span
						class="comunity-rating"
						ng-if="ratings[coin.symbol].avg"
						ng-class="{
							'rate_1': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 1,
							'rate_2': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 2,
							'rate_3': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 3,
							'rate_4': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 4,
							'rate_5': (ratings[coin.symbol].avg / ratings[coin.symbol].qta) >= 4.6,
						}">
							{{ratings[coin.symbol].avg / ratings[coin.symbol].qta | number : 1}}
						</span>
						<span class="comunity-rating rate_0" ng-if="!ratings[coin.symbol].avg">-</span>
					</div>
					<div class="col col-70">
						<h2 class="company-name">{{coin.symbol}} <br><small>{{coin.name | limitTo : 30}}</small></h2>
					</div>
					<div class="col col-20">
						<span class="current-price">{{coin.quotes.USD.price | currency}}</span>
						<br>
						<span class="price-change" ng-class="{'balanced' : coin.quotes.USD.percent_change_24h > 0, 'assertive' : coin.quotes.USD.percent_change_24h < 0}">
							<i class="ion-arrow-up-b" ng-if="coin.quotes.USD.percent_change_24h > 0"></i>
							<i class="ion-arrow-down-b" ng-if="coin.quotes.USD.percent_change_24h < 0"></i>
							{{coin.quotes.USD.percent_change_24h | number : 2}}%
						</span>
					</div>
				</div>
			</ion-item>
			<button class="button button-block button-clear button-light" ng-click="showMore()">Show more...</button>
		</ion-list>

	</ion-content>
</ion-view>