<ion-view view-title="Stocks">
	<div class="tabs tabs-top tabs-dark" style="top: 0px;">
		<button class="button button-calm button-clear" ng-click="settings.show()">
			<i class="ion-gear-b calm"></i>
		</button>
		<!-- <a class="tab-item"><i class="ion-gear-b calm"></i></a> -->
		<a class="tab-item tab-item-active" href="#/app/stocks">Stocks</a>
		<a class="tab-item" href="#/app/crypto">Crypto</a>
	</div>
	<ion-content class="has-tabs-top">
		<ion-list class="stocks">
			<ion-item class="item-stock" ng-repeat="stock in stocks | limitTo : display | orderBy: filter.sortBy" href="#/app/stockDetails/{{stock.symbol}}">
				<div class="row">
					<div class="col-10">
						<span
						class="comunity-rating"
						ng-if="ratings[stock.symbol].avg"
						ng-class="{
							'rate_1': (ratings[stock.symbol].avg / ratings[stock.symbol].qta) >= 1,
							'rate_2': (ratings[stock.symbol].avg / ratings[stock.symbol].qta) >= 2,
							'rate_3': (ratings[stock.symbol].avg / ratings[stock.symbol].qta) >= 3,
							'rate_4': (ratings[stock.symbol].avg / ratings[stock.symbol].qta) >= 4,
							'rate_5': (ratings[stock.symbol].avg / ratings[stock.symbol].qta) >= 4.6,
						}">
							{{ratings[stock.symbol].avg / ratings[stock.symbol].qta | number : 1}}
						</span>
						<span class="comunity-rating rate_0" ng-if="!ratings[stock.symbol].avg">-</span>
					</div>
					<div class="col col-70">
						<h2 class="company-name">{{stock.symbol}} <br><small>{{stock.companyName | limitTo : 30}}</small></h2>
					</div>
					<div class="col col-20">
						<span class="current-price">{{stock.latestPrice | currency}}</span>
						<br>
						<span class="price-change" ng-class="{'balanced' : stock.changePercent > 0, 'assertive' : stock.changePercent < 0}">
							<i class="ion-arrow-up-b" ng-if="stock.changePercent > 0"></i>
							<i class="ion-arrow-down-b" ng-if="stock.changePercent < 0"></i>
							{{stock.changePercent * 100 | number : 2}}%
						</span>
					</div>
				</div>
			</ion-item>

			<button class="button button-block button-clear button-light" ng-click="showMore()">Show more...</button>
		</ion-list>

		<script id="settings.html" type="text/ng-template">
			<ion-modal-view class="modal-transparent modal-settings" id="stockDetails">
				<ion-header-bar class="bar-dark">
					<h1 class="title">Settings</h1>
					<div class="buttons">
						<button class="button button-balanced button-clear button-icon icon ion-checkmark-circled" ng-click="filterStocks(); settings.hide()"></button>
						<button class="button button-light" ng-click="settings.hide()">Close</button>
					</div>
				</ion-header-bar>
				<ion-content>
					<div class="list card">
						<div class="item item-divider">
							<h2>Search by</h2>
						</div>
						<label class="item item-input">
							<span class="input-label">Symbol</span>
							<input type="text" ng-model="data.filter1" ng-change="data.filtered = (symbols | filter : {'symbol': data.filter1, 'name': data.filter2})">
						</label>
						<label class="item item-input">
							<span class="input-label">Name</span>
							<input type="text" ng-model="data.filter2" ng-change="data.filtered = (symbols | filter : {'symbol': data.filter1, 'name': data.filter2})">
						</label>
					</div>
					<div class="list card">
						<div class="item item-divider">
							<h2>Sort by</h2>
						</div>
						<ion-radio ng-model="sortStock" ng-value="symbol">Symbol</ion-radio>
						<ion-radio ng-model="sortStock" ng-value="mostRatedEver">Most rated ever</ion-radio>
						<ion-radio ng-model="sortStock" ng-value="mostRatedToday">Most rated today</ion-radio>
					</div>
				</ion-content>
			</ion-modal-view>
		</script>
	</ion-content>
</ion-view>